.footer-container {
  background-color: #101010;
  color: #f0f0f0;

}

.image-row {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.image-container {
  width: 18%; /* Mantiene el tamaño de las imágenes */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  transform: translateY(50%);
}

.separator {
  height: 1px;
  background-color: #f0f0f0;
  margin-bottom: 90px;
  margin-left: -100px;
  margin-right: -100px;
}

.footer-content {
  display: flex;
  flex-direction: column; /* Cambia a columna para pantallas pequeñas */
  align-items: center; /* Centra el contenido */
  text-align: center;
  width: 100%;
}

.footer-column {
  flex: 1;
  padding: 10px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}


