#contorno {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #c1d7cd;
}
#relleno {
  width: 10px;
  height: 10px;
  background-color: #6eb79b;
  border-radius: 50%;
  animation: bombillo 2s infinite alternate;
}

@keyframes bombillo {
  0% {
    background-color: #6eb79b;
  }
  100% {
    background-color: #5cb85c;
  }
}
.texto {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
#espacio {
  margin-bottom: -40px;
}
.joseph {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: #f0f0f0;
}
.ingeniero {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #101010; /* Color de relleno */
  text-shadow: -1px -1px 0 #f0f0f0, 1px -1px 0 #f0f0f0, -1px 1px 0 #f0f0f0,
    1px 1px 0 #f0f0f0; /* Contorno del texto */
}
#texto-joseph {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #f0f0f0;
}
#button {
  background-color: #f0f0ff;
  width: 140px;
  height: 52px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.877);
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave a la transformación */
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.95); /* Reducir ligeramente el tamaño cuando se presiona el botón */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Cambiar la sombra para dar retroalimentación visual */
  }
}


#test {
  color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .joseph {
    font-size: 60px;
  }
  .ingeniero {
    font-size: 28px;
  }
  #texto-joseph {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .joseph {
    font-size: 42px;
  }
  #cuartas{
    padding-top: 15px;
    margin-left: -8px;;
  }
  #multi {
    font-size: 17.5px;
    padding-top: 15px;  
  }
  #inge {
    font-size: 18px;
  }
  #texto-joseph {
    font-size: 12px;
    max-width: 330px;
    text-wrap: pretty;
  }
  #test{
    display: none;
  }
}