#web {
  justify-content: center;
  align-items: center;
}
#developer {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 48px;
  color: #f0f0ff;
  padding-left: 100px;
  margin-bottom: -22px;

  & span {
    margin-right: 100px;
    color: #101010; /* Color de relleno */
    text-shadow: -1px -1px 0 #f0f0f0, 1px -1px 0 #f0f0f0, -1px 1px 0 #f0f0f0,
      1px 1px 0 #f0f0f0; /* Contorno del texto */
  }
}
#parrafo {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #f0f0ff;
  max-width: 600px;
  margin-left: 100px;
  margin-bottom: 32px;
}

#Proyectos {
  background-color: #f0f0ff;
  width: 240px;
  height: 52px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-left: 100px;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.877);
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave a la transformación */
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.95); /* Reducir ligeramente el tamaño cuando se presiona el botón */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Cambiar la sombra para dar retroalimentación visual */
  }
}


#line {
  border: 1px solid #f0f0f0;
  margin-bottom: 50px;
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  #developer {
    margin-top: -20px;
    font-size: 30px;
    padding-left: 0;
    justify-content: center;

    & span{
      display: none;
    }
  }
  #parrafo{
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: auto;
    font-size: 12px;
    text-align: center;
    text-wrap: pretty;

  }

  #a {
    background-color: #f0f0ff;
    width: 240px;
    height: 52px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 0px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.877);
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave a la transformación */
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.95); /* Reducir ligeramente el tamaño cuando se presiona el botón */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Cambiar la sombra para dar retroalimentación visual */
    }
  }

}